{% extends "base.html" %}
{% set active_page = "turmas" %}
{% block title %}Cadastrar Turma{% endblock %}

{% block content %}

<form action="" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="container">
        <div class="row g-3 mb-3">
            <div class="col-md-12">
                <label for="nome" class="form-label">Nome:</label>
                <input type="text" value="{{ turma.nome }}" class="form-control" id="nome" name="nome" required>
            </div>
        </div>
        <div class="row g-3 mb-5">
            <div class="col-md-12">
                <label for="descricao" class="form-label">Descrição:</label>
                <input type="text" value="{{ turma.descricao }}" class="form-control" id="descricao" name="descricao" required>
            </div>
        </div>
        <div class="d-flex justify-content-end float-right">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</form>
{% endblock %}