{% extends "base.html" %}
{% set active_page = "turmas" %}
{% block title %}Turmas{% endblock %}

{% block content %}

<div class="container">

    <div class="d-flex justify-content-end mb-2">
        <a href="{{url_for('turma.cadastrar_turma')}}" id="btn-add-turma" type="button" class="btn btn-primary" role="button">Nova Turma</a>
    </div>    
    
{% for t in turmas %}
<div class="col-md-12 mb-2">
    <a href="{{ url_for('turma.ver_turma', id=t.id) }}" id="turma{{loop.index}}" type="button" class="btn btn-outline-secondary col-md-12 mb-2" role="button">
        <div class="d-flex justify-content-start">
            {{ t.nome }} 
        </div>
        <div class="d-flex justify-content-end">
            {{ t.descricao }}
        </div>
    </a>
</div>
{% endfor %}
</div>

{% endblock %}