{% extends "base.html" %}
{% set active_page = "provas" %}
{% block title %}Provas{% endblock %}

{% block content %}

<div class="container">
    {% if current_user.urole == 'professor' %}
    <div class="d-flex justify-content-end mb-2">
        <a id="btn-add-prova" href="{{url_for('prova.cadastrar_prova')}}" type="button" class="btn btn-primary" role="button">Nova Prova</a>
    </div>    
    {% endif %}


    {% for prova in provas %} 
    {% if current_user.urole == 'professor' %}
        <a href="{{url_for('prova.ver_prova_correta', _id = prova.prova_id)}}" type="button" class="btn btn-outline-secondary col-md-12 mb-2" role="button">
        <div class="d-flex justify-content-between">
            <div>{{ prova.descricao }}</div><div>Valor: {{ prova.valor }}</div>
         </div>
    {% else %}
        {% if prova.nota != None and atrasadas[loop.index-1] == True %}
            <a id="responder-prova{{loop.index}}" href="{{url_for('prova.responder_prova', _id = prova.prova_id)}}" type="button" class="btn btn-outline-danger col-md-12 mb-2" role="button">
            <div class="d-flex justify-content-between">
                <div>{{ prova.descricao }}</div><div>Nota: {{ prova.nota }}/{{ prova.valor }} | {{percentual[loop.index-1]}} </div>
            </div>
            <div class="d-flex justify-content-between">
                <div>A prova foi entregue após a data limite.</div>
            </div>
        {% elif prova.nota != None %}
            <a id="responder-prova{{loop.index}}" href="{{url_for('prova.responder_prova', _id = prova.prova_id)}}" type="button" class="btn btn-outline-secondary col-md-12 mb-2" role="button">
            <div class="d-flex justify-content-between">
                <div>{{ prova.descricao }}</div><div>Nota: {{ prova.nota }}/{{ prova.valor }} | {{percentual[loop.index-1]}}</div>
            </div>
        {% else %}
            <a id="responder-prova{{loop.index}}" href="{{url_for('prova.responder_prova', _id = prova.prova_id)}}" type="button" class="btn btn-outline-primary col-md-12 mb-2" role="button">
            <div class="d-flex justify-content-between">
                <div>{{ prova.descricao }}</div><div>Nota: 0/{{ prova.valor }}</div>
             </div>
        {% endif %}
    {% endif %}        
        <div class="d-flex justify-content-between">            
            <div style="font-size: smaller;">{{ prova.turma }} - {{prova.turma_descricao}}</div><div>{{ prova.data.strftime("%d/%m/%Y") }}</div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}