{% extends "base.html" %}
{% set active_page = "notas" %}
{% block title %}Provas{% endblock %}

{% block content %}

<div class="container">

    <h4>Melhoras Provas</h4><br>
    {% for m_prova in melhores %}
        {% if m_prova.nota != None %}
            <a href="{{url_for('prova.responder_prova', _id = m_prova.prova_id)}}" type="button" class="btn btn-outline-secondary col-md-12 mb-2" role="button">
            <div class="d-flex justify-content-between">
                <div>{{ m_prova.descricao }}</div><div>Nota: {{ m_prova.nota }}/{{ m_prova.valor }}</div>
            </div>
        {% else %}
            <a href="{{url_for('prova.responder_prova', _id = m_prova.prova_id)}}" type="button" class="btn btn-outline-primary col-md-12 mb-2" role="button">
            <div class="d-flex justify-content-between">
                <div>{{ m_prova.descricao }}</div><div>Nota: 0/{{ m_prova.valor }}</div>
             </div>
        {% endif %}
        <div class="d-flex justify-content-between">            
            <div style="font-size: smaller;">{{ m_prova.turma }} - {{m_prova.turma_descricao}}</div><div>{{ m_prova.data.strftime("%d/%m/%Y") }}</div>
        </div>
    </a>
    {% endfor %}

    <h4>Provas com nota 0</h4><br>
    {% for z_prova in zeradas %}
        {% if z_prova.nota != None %}
            <a href="{{url_for('prova.responder_prova', _id = z_prova.prova_id)}}" type="button" class="btn btn-outline-secondary col-md-12 mb-2" role="button">
            <div class="d-flex justify-content-between">
                <div>{{ z_prova.descricao }}</div><div>Nota: {{ z_prova.nota }}/{{ z_prova.valor }}</div>
            </div>
        {% else %}
            <a href="{{url_for('prova.responder_prova', _id = z_prova.prova_id)}}" type="button" class="btn btn-outline-primary col-md-12 mb-2" role="button">
            <div class="d-flex justify-content-between">
                <div>{{ z_prova.descricao }}</div><div>Nota: 0/{{ z_prova.valor }}</div>
             </div>
        {% endif %}
        <div class="d-flex justify-content-between">            
            <div style="font-size: smaller;">{{ z_prova.turma }} - {{z_prova.turma_descricao}}</div><div>{{ z_prova.data.strftime("%d/%m/%Y") }}</div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}