{% extends "base.html" %}

{% block content %}

<form action="" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="container">
        <div class="mb-4">
            <h4>{{ prova.descricao }}</h4>
            <div class="d-flex justify-content-between">
                <div><h6>{{ turma.nome }} - {{ turma.descricao }}</h6></div>
                <div><h6>Valor: {{ prova.valor }} pts</h6></div>
            </div>               
        </div>

        <script>cont = 1;</script>

        {% for pergunta in prova.perguntas %}
        {% set rowloop = loop %}
        <div class="card mb-3">
            <div class="card-header" id="teste{{ pergunta.id }}">
                <script>document.getElementById("teste{{ pergunta.id }}").innerHTML="Questão "+cont;</script>
            </div>
            
            <div class="card-body">               
                <p class="card-text">{{ pergunta.descricao }}</p>
                
                {% for opcao in pergunta.opcoes %}
                <div class="input-group mb-3">
                    <div class="input-group-text">
                        <input id="resposta{{rowloop.index}}-{{loop.index}}" class="form-check-input mt-0" type="radio" name="op{{ pergunta.id }}" value="{{ opcao.id }}" required>
                    </div>
                    <input type="text" class="form-control" value="{{ opcao.descricao }}" disabled>                    
                </div>
                {% endfor %}                
            </div>
        </div>

        <script>cont++;</script>  
        {% endfor %}

        <div class="d-flex justify-content-end">    
            <button id="btn-submit-resposta" type="submit" class="btn btn-success">Enviar</button>
        </div>
    </div>    

</form>

{% endblock %}